/* * {
    overflow-x: hidden;
} */
.videoWrap {
    display: flex;
    background-color: aliceblue;
    box-shadow: 5px 5px darkgrey;
}

.animation {    
    padding: 2em;
    background-color: aliceblue;
    /* margin: 2em; */
    justify-content: center;
    /* align-items: center; */
}

.videoBox {
}

.title {
    /* padding: 1em; */
    color: rgb(27, 27, 27); 
    font-family: 'Helvetica Neue', sans-serif;
    font-size: 27.5vw;
    font-weight: bold;
    letter-spacing: -1px;
    line-height: .1; 
    text-align: center;

}

.joinFamily {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5em;
}


.kiddoUnderline {
    position: relative;
    top: -2.5em;
    letter-spacing: 3px;
    font-size: 80%;    
}


.register {
    display: flex;
    text-align: center;
    margin-top: 2em;
    justify-content: center;
    align-items: center;


}
 .register-btn {
        background-color: #3DD1E7;
        border: 0 solid #E5E7EB;
        box-sizing: border-box;
        color: #000000;
        display: flex;
        font-family: ui-sans-serif,system-ui,-apple-system,system-ui,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
        font-size: 1rem;
        font-weight: 700;
        justify-content: center;
        line-height: 1.75rem;
        padding: .75rem 1.65rem;
        position: relative;
        text-align: center;
        text-decoration: none #000000 solid;
        text-decoration-thickness: auto;
        width: 100%;
        max-width: 460px;
        position: relative;
        cursor: pointer;
        transform: rotate(-2deg);
        user-select: none;
        -webkit-user-select: none;
        touch-action: manipulation;
        margin-bottom: 2em;
        }
        
        .register-btn:focus {
        outline: 0;
        }
        
        .register-btn:after {
        content: '';
        position: absolute;
        border: 1px solid #000000;
        bottom: 4px;
        left: 4px;
        width: calc(100% - 1px);
        height: calc(100% - 1px);
        }
        
        .register-btn:hover:after {
        bottom: 2px;
        left: 2px;
        }
        
        @media (min-width: 768px) {
            .register-btn {
          padding: .75rem 3rem;
          font-size: 1.25rem;
        }
        }


.newsForm {
    text-align: center;
}

.missionHead {
    text-align: center;
    background-color: aliceblue;
    /* border-radius: 10px; */
    /* border: 4px solid lightcoral; */
    font-family:Arial, Helvetica, sans-serif;
    margin-bottom: 0;
    
    
}

.missionText {
    background-color: aliceblue; 
  margin-top: 0;
    /* border: 4px solid lightcoral; */
    display: flex;
    margin-top: 0;
    padding-right: 4em;
    padding-left: 4em;
    padding-top: 1em;
    padding-bottom: 1em;
}

