.gridWrapContainer {
    background-color: aquamarine;
    display: flex;
}

.gridDBListContainer {
    display: flex;
    justify-content: center;
    align-items: left;
    text-align: center;
}

.gridDBListWrap {
    background-color: burlywood;    
    display: flex;
    justify-content: center;
    align-items: left;
    text-align: center;
    font-size: 3vh;
}

.gridCompanyListWrap {
    background-color: aliceblue;
    justify-content: center;
    align-items: left;
    text-align: left;
}

.businessLink:visited{
    color:black
}

li {
    transition: all 250ms ease;
  }

.businessName:hover{
    text-decoration: underline;
    transform: translateY(-5px);
    transition:  all 250ms ease;
}

