
.welcomeTitle {
    background-color: aliceblue;    
    display: flex;
    justify-content: center;
    margin-bottom: 2vw;
    font-size: 2vw;
}


/* .gridWrapContainer {
    background-color: aliceblue;
    justify-content: space-around;
    align-items: center;
} */


.formWrapContainer {
    background-color: aliceblue;
    justify-content: center;
    margin-top: 1em;
    margin-bottom: 1em;    
    align-items: center;
    padding-top: 1em;
    padding-bottom: 1em;

}

.form {
    height: 0vh;
    width: 100vw;
    margin-bottom: 2em;
}

/* .formWrap {
    margin-bottom: 3em;
} */

.picWrap {
    display: flex;
    height: 15vh;    
    align-items: center;
    justify-content: center;
    /* margin-left: 2.5vw; */
    gap: 5vw;    
    margin-top: 1em;
    margin-bottom: 0;
}

.pic8Wrap {
    background-color:aliceblue;
}

.pic9Wrap {
    background-color:aliceblue;
    height: 25vh;
}

.bulletPhrases {
    display: flex;
    height: 40%;
    width: 40vw;
    background-color: aliceblue;
    font-size: 3vw;
    align-items: center;
    justify-content: center;
    margin-right: 2.5vw;
}

.image8 {    
    width: 38vw;
    box-shadow: 2px 2px darkgrey;
}

.image9 {
    width: 38vw;
    box-shadow: 2px 2px darkgrey;
}