* {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.banner {
    background-color: aliceblue;
    margin: 0;
}

/* .regImg {
    box-shadow: 5px 5px gray;
} */

.regPrompt {
    font-weight: 500;
    letter-spacing: 2px;
}

.title{
    font-weight: bolder;
}
.regForm {
    margin: 2em;
   
}

.first {
    text-align: center;
    margin-top: 1em;
}
.field {
    padding-bottom: 1em;
}

.label {
    text-align: left;
}

.input {
    text-align: center;
    font-size: x-large;
}
